* {
  color: #ccc;
  background-color: #2d3142;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 1rem 0;
}

.card {
  margin: 2rem;
  width: 25rem;
}

footer {
  border-top: 1px solid #ccc;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  width: 75%;
  text-align: center;
}
